.rewrite-rule {
	display: flex;
	align-items: center;
	> * {
		margin-right: 8px;
	}
	margin-bottom: 12px;

	padding: 12px;
	background-color: #f7f7f7;

	&.disabled {
		opacity: 0.6;
	}
	table {
		width: 100%;
	}
	.ant-input {
		width: 100%;
	}
	.anticon-delete {
		font-size: 16px;
	}
}
.fullscreen-add-wrapper {
	height: calc(100vh - 20px);
	width: 100%;
	justify-content: center;
	align-items: center;
	display: flex;
}

.add-rule-button {
	display: block;
	width: 100%;
	margin-top: -12px;
}
